@page
@using RecipeFinder.Models
@model RecipeFinder.RecipeCreateModel

@{
    ViewData["Title"] = "Add";
}

<header>
    <link rel="stylesheet" href="~/css/createandedit.css" />
</header>

<h1>Add</h1>

<h4>Recipe</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.Title" class="control-label"></label>
                <input asp-for="Recipe.Title" class="form-control" />
                <span asp-validation-for="Recipe.Title" class="text-danger"></span>
            </div>
            
            
            <input asp-for="Recipe.DateAdded" value="@DateTime.Now.Date" type="hidden" />
            

            @*<div class="form-group">
                <label asp-for="Recipe.DateAdded" class="control-label"></label>
                <input asp-for="Recipe.DateAdded" class="form-control" />
                <span asp-validation-for="Recipe.DateAdded" class="text-danger"></span>
            </div>*@
            <div class="ingredientOrder">
                <label>Ingredients</label>
                @for (int i = 0; i < Model.Ingredients?.Count; i++)
                {
                    <input asp-for="@i" type="hidden" />
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="@Model.Ingredients[i].Name" placeholder="Enter ingredient name">
                        <input type="text" class="form-control" asp-for="@Model.Ingredients[i].Quantity" placeholder="Quantity: whole/decimal">
                        <select asp-for="@Model.Ingredients[i].Measurement" asp-items="Html.GetEnumSelectList<Measurements>()" class="form-control" id="measurement_input">
                            <option selected="selected" value="">Measurement Type</option>
                        </select>
                        <textarea rows="3" class="form-control" asp-for="@Model.Ingredients[i].Notes" placeholder="Notes"></textarea>
                    </div>

                    <button class="removeIngredientButton" type="submit" asp-page-handler="removeingredient" asp-route-id="@i" asp-route-index="@i">x</button>
                }
                <button type="submit" asp-page-handler="addingredient">Add Ingredient</button>
            </div>

            <div class="form-group">
                <label asp-for="Recipe.Instruction" class="control-label"></label>
                <textarea rows="3" asp-for="Recipe.Instruction" class="form-control" placeholder="EXAMPLE: 1) Place butter and eggs in large bowl. 2) Blend butter and eggs. 3) etc."></textarea>
                <span asp-validation-for="Recipe.Instruction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-page-handler="saverecipe" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}