@page
@using System.Security.Claims
@model RecipeFinder.RecipeIndexModel
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Recipes";
    //Model.UserId = UserManager.GetUserId(ClaimsPrincipal.Current);
    Model.UserId = UserManager.GetUserId(User);
}
<head>
    <link rel="stylesheet" href="~/css/recipeslist.css" />
</head>
<div class="positiontext">
    <h1>Recipes</h1>

    <p>
        <a asp-page="Create">Create New Recipe</a>
    </p>

    <form>
        <p>
            Search by Ingredient: <input type="text" asp-for="SearchString" />
            <input type="submit" value="Filter" />
        </p>
    </form>
    <h5>
        @foreach (var t in Model.Recipe)
        {
            @Html.DisplayFor(model => model.Recipe[0].Title)
        }
    </h5>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].DateAdded)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Ingredients)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Recipe[0].Instruction)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Recipe)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @for (var i = 0; i < item.Ingredients.Count; i++)
                        {
                            <div class="addSpace">@Html.DisplayFor(modelItem => item.Ingredients[i].Name)</div>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Instruction)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
